:root {
    --text: #0f0c0a;
    --background: #ffffff;
    --primary: #FE8F4E;
    --secondary: #e7dfda;
    --accent: #c03535;
}


body {
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#logo {
    width: 100px; 
    height: auto;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: var(--text);
    transition: background-color 0.3s ease; 
    padding: 5px 10px; 
    border-radius: 5px; 
}


nav a:hover {
    background-color: var(--primary);
    color: var(--background); 
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}