.theme-light {
    --text: #0f0c0a;
    --background: #ffffff;
    --primary: #FE8F4E;
    --secondary: #e7dfda;
    --accent: #c03535;
}
.theme-dark {
    --text: #f6f5f4;
    --background: #0e0c0c;
    --primary: #FE8F4E;
    --secondary: #3a2727;
    --accent: #74777c;
}

body {
    background-color: var(--background);
    color: var(--text);
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#logo {
    width: 100px; 
    height: auto;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: var(--text);
    transition: background-color 0.3s ease; 
    padding: 5px 10px; 
    border-radius: 5px; 
}


nav a:hover {
    background-color: var(--primary);
    color: var(--background); 
}


.container {
    display: flex;
    width: 100%;
    height: 100%;
    background: var(--color-secondary);
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container h1 {
    color: var(--font-color);
  }
  .container button {
    color: var(--font-color);
    background: var(--color-primary);
    padding: 10px 20px;
    border: 0;
    border-radius: 5px;
  }