
.notification-icon {
    cursor: pointer;
    color: orange;
    font-size: 24px;
    position:relative;
}


.notification-dropdown {
    display: none;
    position: absolute;
    top: 100%; 
    left: 0p;
    width: 300px; 
    background-color: var(--secondary-color);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    z-index: 2;
}


.notification-dropdown.show {
    display: block;
}


.notification-content {
    padding: 10px;
}


.notification-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.notification-icon:hover{
    animation: wigglePulse 1s infinite;
}

@keyframes wigglePulse{
    0%{
        transform: rotate(0deg) scale(1);
    }
    25%{
        transform: rotate(10deg) scale(1.1);
    }
    50%{
        transform: rotate(0deg) scale(1);
    }
    75%{
        transform: rotate(-10deg) scale(1.1);
    }
    100%{
        transform: rotate(0deg) scale(1);
    }
}





.notification-item p {
    margin: 0;
    font-size: 14px;
}

.notification-item span {
    color: #888;
    font-size: 12px;
}
.show {
    display: block;
}

/* Media query for responsive behavior */
 /* @media only screen and (max-width: 920px) {
    .notification-dropdown { */
        /* left: auto; 
        right: 20px; 
    /* }
}  */
